header {
  background-color: #142ab2;
  width: 100%;
  color: white;
}

.header-lista {
  justify-content: space-between;
  padding-top: 10px;
  flex-wrap: wrap;
}

.header-item {
  font-family: nunito;
  margin: 0px 10px 10px 10px;
}

.background-menu {
  background-color: #2d70ff;
  width: 100%;
}

.menu {
  padding: 15px 0px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-family: nunito;
  font-size: 36px;
  font-weight: bold;
  padding: 0;
  margin: 0px 10px 0px 10px;
}

.menu-lista {
  flex-wrap: wrap;
}

.menu-item {
  font-family: nunito;
  padding: 10px;
  font-size: 20px;
}

.menu-item:hover {
  color: #142ab2;
}
